.wrapper__intro {
  background:url("./img/intro/main-bg.jpg") center center no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper__intro:before {
  background-color: yellow;
  opacity: 50%;
  z-index: 10;
}

.intro__logo {
  z-index: 2;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 182px;
}

.intro__logo__link {
  position: relative;
  width: 182px;
  height: 44px;
  border: 3px solid #ec1e79;
  text-align: center;
  margin-top: 29px;
  margin-left: -10px;
}
.intro__logo__link:hover {
  background-color: #ec1e79;
  box-shadow: 0 0 2px 1px #ec1e7b73;
  transition: ease .9s;
}

.intro__logo__link-to:hover {
  color: #fff;
  transition: ease-in .1s;
}

.intro__logo__link-to {
  display: block;
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  color: #ec1e79;
  font-size: 12px;
  font-weight: 700;
  line-height: 54px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-decoration: none;
  margin-top: -7px;
}

@keyframes logo-shake {
  0% {
    opacity: 0;
    transform: scale(0.01) rotate(45deg);
  }

  35% {
    transform: rotate(-25deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.intro__logo--animate {
  animation: logo-shake 1.3s;
  animation-timing-function: ease;
}