
.dropdown__schedule {
  display: block;
  width: 164px;
  height: 70px;
  box-shadow: 0 0 10px rgba(23, 59,117, 0.55);
  border: 1px solid slategray;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  background: #fff;
  left: -915px;
  top: 77px;
}

.schedule_dropped:hover + .dropdown__schedule {
  left: 915px;
}

.dropdown__schedule_triangle {
  width: 18px;
  height: 18px;
  border-right: 1px solid slategray;
  border-bottom: 1px solid slategray;
  position: relative;
  left: 140px;
  top: -10px;
  background: #fff;
  transform: rotate(225deg);
}

.dropdown__list {
  float: left;
  list-style: none;
  padding: 0;
  padding-left: 11px;
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding-top: 17px;
  line-height: 18px;
}

.dropdown__item1 {
  color: #ec1e79;
  font-weight: 700;
}

.dropdown__item2 {
  text-align: left;
}