.footer {
  background: #27273e;
  color: white;
  position: relative;
  height: 77px;
  min-width: 1100px;
  line-height: 1.3;
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  padding-top: 14px;
} 

.footer__social-list .footer__social__logo {
  list-style: none;
  display: inline-block;
  background: #d4d4d8;
  width: 20px;
  height: 20px;
  border-radius: 80px;
  margin-right: 6px;
  text-align: center;
}

.footer__text {
  width: 300px;
  display: inline-block;
  float: left;
  padding-left: 19px;
}

.footer__logo {
  width: 492px;
  display: inline-block;
  text-align: center;
}

.footer__social {
  width: 194px;
  float: right;
  display: inline-block;
}

.footer__social-text {
  font-size: 14px;
  font-weight: 700;
  display: inline;
  width: 174px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__social-list {
  padding-left: 0;
  position: absolute;
  margin-top: 7px;
}

.footer__text-made-by {
  display: inline-block;
  width: 265px;
}

.footer__text-made-by {
  font-size: 14px;
  margin: 0;
}

.footer__social-vk-img {
  background: url("../../img/social/social_sprite.png") 0 -40px;
  width: 20px;
  height: 20px;
  display: block;
}

.footer__social-vk-img:hover {
  background: url("../../img/social/social_sprite.png") 0 0;
  width: 20px;
  height: 20px;
  display: block;
  transition: .2s ease;
}

.footer__social-fb-img {
  background: url("../../img/social/social_sprite.png") -31px -40px;
  width: 20px;
  height: 20px;
  display: block;
}
.footer__social-fb-img:hover {
  background: url("../../img/social/social_sprite.png") -31px 0px;
  width: 20px;
  height: 20px;
  display: block;
  transition: .2s ease;
}


.footer__social-google-img {
  background: url("../../img/social/social_sprite.png") -67px -40px;
  width: 20px;
  height: 20px;
  display: block;
}
.footer__social-google-img:hover {
  background: url("../../img/social/social_sprite.png") -67px 0px;
  width: 20px;
  height: 20px;
  display: block;
  transition: .2s ease;

}



.footer__social-twitter-img {
  background: url("../../img/social/social_sprite.png") -103px -40px;
  width: 20px;
  height: 20px;
}
.footer__social-twitter-img:hover {
  background: url("../../img/social/social_sprite.png") -103px 0px;
  width: 20px;
  height: 20px;
  transition: .2s ease;
}


.footer__social-mail-img {
  background: url("../../img/social/social_sprite.png") -141px -40px;
  width: 20px;
  height: 20px;
}
.footer__social-mail-img:hover {
  background: url("../../img/social/social_sprite.png") -141px 0px;
  width: 20px;
  height: 20px;
  transition: .2s ease;
}

.footer--font-weight {
  font-weight: 700;
}