
.header {
  width: 100%;
  background: #2d2941;
}

.header__top {
  background-color: #27273e;
  min-height: 76px;
  position: relative;
  padding-top: 16px;
  padding-left: 30px;
}

.header__top-info {
  width: 1066px;
}

.contacts {
  display: inline-block;
  float: right;
  width: 203px;
  text-align: right;
}

.header__main-pic {
  background-color: #2d2941;
  height: 363px;
  margin-bottom: 67px;
}

.number {
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #fff;
  padding: 0;
  display: inline;
  text-decoration: none;
  letter-spacing: 1px;
}

.number:hover {
  text-decoration: underline;
}

.schedule_dropped {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ec1e79;
  padding-top: 5px;
  display: inline-block;
  text-decoration: underline;
  transition: .4s;
}

.schedule_dropped:hover {
  color: #5dd1f8;
  cursor: pointer;
}

