.container {
  margin-top: 40px;
}


.container__menu {
  float: left;
  width: 15%;
  padding-left: 20px;
}

.container__allcontent {
  float: left;
  width: 85%;
}

.container__menu-item {
  list-style: none;
  display: block;
  margin-bottom: 30px;
  text-align: left;
  padding-left: 0;
}

.container__menu-item-link {
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  color: #ec1e79;
  margin-left: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.container__menu-item-link:hover {
  color: #000;
}

.text__pos1 {
  position: absolute;
  top: 6px;
  left: 54px;
}

.text__pos2 {
  position: absolute;
  top: 58px;
  left: 54px;
}

.text__pos3 {
  position: absolute;
  top: 111px;
  left: 55px;
}

.menu-optimisation {
  display: inline-block;
  content: "";
  background: url("./../../img/menu/spritemenu.png"); 
  background-repeat: no-repeat;  
  height: 18px;
  width: 23px;
}

.menu-item-star {
  background-position: -32px -4px;
}

.menu-item-star:before {
  display: inline-block;
  content: "";
  background: url("./../../img/menu/spritemenu.png");
  background-repeat: no-repeat;
  background-position: -4px -4px;
  height: 18px;
  width: 23px;
  transition: .2s;
}

.menu-item-main {
  background-position: -83px -1px;
}

.menu-item-main::before {
  display: inline-block;
  content: "";
  background: url("./../../img/menu/spritemenu.png");
  background-repeat: no-repeat;
  background-position: -58px -1px;
  height: 18px;
  width: 23px;
  transition: .2s;
}

.menu-item-wallet {
  background-position: -137px -2px;
}

.menu-item-wallet::before {
  content: "";
  background: url("./../../img/menu/spritemenu.png");
  background-position: -110px -2px;
  background-repeat: no-repeat;
  height: 18px;
  width: 23px;
  display: inline-block;
  transition: .2s;
}

.menu-item-wallet:hover::before, .menu-item-main:hover::before, .menu-item-star:hover::before {
  opacity: 0;
} 

.container__menu-item-link:hover {
  text-decoration: none;
  transition: .2s ease-in-out;
}

.active1, .active2, .active3 {
  color: #000;
}

.active1:before {
  display: inline-block;
  content: "";
  background: url("./../../img/menu/spritemenu.png");
  background-repeat: no-repeat;
  background-position: -83px -1px;
  height: 18px;
  width: 23px;
}

.active2:before {
  display: inline-block;
  content: "";
  background: url("./../../img/menu/spritemenu.png");
  background-repeat: no-repeat;
  background-position: -32px -4px;
  height: 18px;
  width: 23px;
}

.active3:before {
  content: "";
  background: url("./../../img/menu/spritemenu.png");
  background-position: -137px -2px;
  background-repeat: no-repeat;
  height: 18px;
  width: 23px;
  display: inline-block;
}